.container{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.boton{
  background-color: #80F4E1;
  color: white;
  font-family: 'B612 Mono', monospace;
  border: none;
  font-size: 22px;
  padding: 20px 35px;
}

.link{
  text-decoration: none;
  color: white;
}
